.button {
  font: inherit;
  color: $wight;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border: 1px solid $brownlight;
  padding: 18px 35px;
  vertical-align: middle;
  display: inline-block;
}
