.care {
  background-image: url(../../images/background_cat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 645px;
  background-color: none;
}

.care__wrapper {
  background-color: rgba(0,0,0,0);

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width-only) {


  }
}

.care__title {
  width: 470px;
  margin: 0 auto;
  padding-top: 84px;
  margin-bottom: 48px;
}

.care__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  row-gap: 43px;
  column-gap: 42px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding-bottom: 40px;
  }
}




