.cat-features {
  border: 1px solid $brown;
  width: 558px;
}

.cat-features__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  padding-left: 60px;
}

.cat-features__text {
  color: $wight;
  font-size: 14px;
  line-height: 23px;
  padding-left: 60px;
  width: 447px;
}


