.cat-features {
  border: 1px solid $brown;
  width: 100%;
  min-height: 165px;
  position: relative;



  @media (max-width: $tablet-width) {

    &--wool {
      order: -2;
    }

    &--eyes {
      order: -1;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
  }
}

.cat-features__link {
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    width: 10%;
    height: 100%;
    background-color: $brownlight;
    border-left: 1px solid $brownlight;
    position: absolute;
    right: 0;
    background-image: url(../../images/vector_right.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

}

.cat-features__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  padding-left: 60px;

  @media (max-width: $mobile-width-only) {
    padding-left: 25px;
  }
}

.cat-features__text {
  color: $wight;
  font-size: 14px;
  line-height: 23px;
  padding-left: 60px;
  width: 458px;

  @media (max-width: $mobile-width-only) {
    width: 240px;
    padding-left: 25px;
  }
}


