.cat-features {
  border: 1px solid $brown;
  width: 558px;

  @media (max-width: $tablet-width) {

    &--wool {
      order: -2;
    }

    &--eyes {
      order: -1;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
  }
}

.cat-features__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  padding-left: 60px;

  @media (max-width: $mobile-width-only) {
    padding-left: 25px;
  }
}

.cat-features__text {
  color: $wight;
  font-size: 14px;
  line-height: 23px;
  padding-left: 60px;
  width: 447px;

  @media (max-width: $mobile-width-only) {
    width: 240px;
    padding-left: 25px;
  }
}


