.greeting {
  margin-left: 122px;
}
.greeting__city {
  padding-bottom: 18px;
}

.greeting__title {
  margin: 0;
  font-size: 52px;
  line-height: 60px;
  max-width: 400px;
  padding-bottom: 31px;
}

.greeting__slogan {
  max-width: 300px;
  padding-bottom: 45px;
}

.greeting__link {
  margin-bottom: 186px;
}


