.header {
  display: flex;
  flex-direction: column;
}


.header__wraper {
  background-image: url(../../images/cat_header_desctop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 706px;


  @media (max-width: $tablet-width) {
    width: 790px;
    background-image: url(../../images/cat_header_tablet.png);
    min-width: 533px;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
    background-image: url(../../images/cat_header_mobile.png);
    min-width: 256px;

  }
}

.header__logo {
  margin-top: 20px;
  display: block;
  text-align: center;
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 90px;
  }
}

.header__social{
  position: absolute;
  left: 33px;
  top: 545px;
  position: relative;

  &::before {
    content: "";
    width: 1px;
    height: 108px;
    background-color: $wight;
    opacity: 0.6;
    position: absolute;
    left: 10px;
    top: -120px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    left: 50px;

    &::before {
      width: 0;
      height: 0;
    }


  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}



