.header {

}


.header__wraper {
  background-image: url(../../images/cat_header_desctop.png);
  background-repeat: no-repeat;
  //background-size: cover;
  background-position: right 0 bottom 0;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: 790px;
    background-image: url(../../images/cat_header_tablet.png);
    min-width: 533px;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
    background-image: url(../../images/cat_header_mobile.png);
    min-width: 256px;

  }
}

.header__logo {
  margin-top: 20px;
  display: block;
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.logo__img {
  fill: red;

  &:hover {
    fill: blueviolet;
  }
}

.header__social{
  position: absolute;
  left: 33px;
  top: 545px;
  position: relative;

  &::before {
    content: "";
    width: 1px;
    height: 108px;
    background-color: rgba(255, 255, 255, 0.61);;
    opacity: 0.6;
    position: absolute;
    left: 10px;
    top: -120px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    left: 50px;
    top: 480px;

    &::before {
      width: 0;
      height: 0;
    }


  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}



