.member__container {
  width: 660px;
  border: 1px solid rgba(160, 123, 80, 0.43);
  padding-top: 40px;
  padding-right: 60px;
}


.member__card {
  display: block;
  background: #1F1C1D;
  text-align: start;
}

.member__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 69px;
  padding-left: 98px;
}

.member__function {
  padding-left: 98px;
  padding-bottom: 10px;
}

.member__text {
  color: rgba(255, 255, 255, 0.72);
  padding-left: 98px;
  width: 500px;
  padding-bottom: 40px;
}

.member__social {
  margin-left: 98px;
  display: flex;
  width: 80px;
  justify-content: space-between;
  padding-bottom: 95px;
}


