.team {
  text-align: center;
  margin-bottom: 72px;
}

.team__wrapper {

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width-only) {

  }
}

.team__slogan {
  margin: 0 auto;
  margin-top: 83px;
  margin-bottom: 23px;
}

.team__text {
  width: 510px;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
}

.team__members {
  margin: 0;
  padding: 0;
  list-style: none;
}

.team__member {
  position: relative;
  margin-left: 400px;
}

.team__foto {
  width: 360px;
  height: 366px;
  position: absolute;
  left: -370px;
}

.team__togle {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 30px;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;

  &--prevn {
    background-image: url(../../images/vector_left.svg);
    left: 0px;
  }

  &--next {
    right: 40px;
    background-image: url(../../images/vector_right_slider.svg);
  }
}
